<div class="navbar">
  <a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
  <a [routerLink]="['productos']" routerLinkActive="active">Productos</a>
  <a [routerLink]="['nosotros']" routerLinkActive="active">Nosotros</a>
</div>