*{
  margin: none;
  padding: 0;
}


.navbar {
  background-color: darkgreen;
  margin: -8px;
  display: flex;
}

.navbar a {
  color: white;
  overflow: hidden;
  text-decoration: none;
  display: block;
  padding: 10px 20px 10px 20px;
}

.navbar a:hover {
  background-color: rgb(69, 138, 69);
}