<div class="container">

<div id="tv" class="ficha">
    <img src="assets/img/tv.jpg" alt="television">
  <p>
    {{ tv.descripcion }}
  </p>
</div>

<div id="teclado" class="ficha">
    <img src="assets/img/teclado.jpg" alt="teclado">
  <p>
    {{ teclado.descripcion }}
  </p>
</div>

<div id="lavadora" class="ficha">
    <img src="assets/img/lavadora.jpg" alt="lavadora">
  <p>
    {{ lavadora.descripcion }}
  </p>
</div>

<div id="comedor" class="ficha">
    <img src="assets/img/comedor.jpg" alt="comedor">
  <p>
    {{ comedor.descripcion }}
  </p>
</div>

<div id="adornos" class="ficha">
    <img src="assets/img/adornos.jpg" alt="adornos">
  <p>
    {{ adornos.descripcion }}
  </p>
</div>

  
</div>
