*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

img{
  width: 160px;
}

.ficha {
  width: 40%;
  margin: 20px;
  padding: 20px;
  background-color: rgba(172, 255, 47, 0.17);
  float: left;
}

p{
  text-align: center;
}