
<ul>
  <li><a href="productos">tv</a></li>
  <li><a href="productos">Teclado</a></li>
  <li><a href="productos">Lavadora</a></li>
  <li><a href="productos">Comedor</a></li>
  <li><a href="productos">Adornos</a></li>
</ul>