*{
  margin: -8px;
}

body{
  width: 100%;
}

ul {
  list-style: none;
  width: 15%;
  background-color: rgb(214, 214, 156);
  top: 0;
  right: 0;
  height: 100%;
  position: absolute;
  padding-top: 50px;
}

ul li{
  padding: 15px;
  margin: 8px;

}

ul li a{
  text-decoration: none;
  color: rgb(2, 70, 2);
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}